/** reset **/
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
  }

  html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
  }

  *,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
  }

  img,
video {
  max-width: 100%;
  height: auto;
}
.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* **********     menu-hamburguesa     ********** */
  
  .header {
    position: sticky;
    z-index: 997;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
  }

  .header h1 {
    margin: 0 auto;
    text-align: center;
  }

  .section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
  }
  .panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: var(--second-modal-color);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.5s ease;
    /* De arriba */
    transform: translate(0, -100%);
    /* De abajo */
    transform: translate(0, 100%);
    /* De la derecha */
    transform: translate(100%, 0);
    /* De la izquierda */
    transform: translate(-100%, 0);
  }
  
  .panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
  
  .panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
  }

  .menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
  }